// COLOR
$color-text-base: #2f2f2f;
$color-text-alpha: #19a68b;
$color-text-beta: #4274a4;
$color-action: #aff64f;
$color-focus: rgba(0, 123, 255, 0.8);

$focus-shadow: 0 0 0 2px $color-focus;

// FONT
$f-family-base: "Roboto", sans-serif;
$f-size-base: 16px;
$f-size-heading: 1.25em;

// MEDIA
// min
$sm-min: 576px;
$md-min: 768px;
$lg-min: 992px;
$xl-min: 1200px;

// max
$xs-max: 575px;
$sm-max: 767px;
$md-max: 991px;
$lg-max: 1199px;

// HEADER
$header-height-xs: 46px;
$header-height-lg: 70px;
