.chat {
  &__card {
    display: flex;
    align-items: center;
    position: relative;
    padding: 9px 0;

    &::before {
      content: '';
      position: absolute;
      width: calc(100% + 70px);
      height: 1px;
      background: #BEC7AF;
      bottom: 0;
      left: -35px;
    }
  }

  &__text {
    display: flex;
    flex-direction: column;
  }

  &__msg {
    line-height: 22px;
    letter-spacing: 0.5px;
    color: #000000;
    margin-top: 2px;
  }
}