.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 45px;
  font-weight: 400;
  font-size: 13px;
  line-height: 18px;
  letter-spacing: 0.5px;
  padding-bottom: 17px;

  &__navbar {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 -5px;

    &-item {
      margin: 0 5px;

      &__link {
        text-decoration: none;
        color: #2D2F36;
      }
    }
  }
}